{% extends "master.html" %}
{% block title %}Dashboard{% endblock %}

{% block head %}
    {{ super() }}
    <script src="/static/js/bootstrap-table.min.js"></script>
    <link href="/static/css/bootstrap-table.min.css" rel="stylesheet">
    <link href="/static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <script>
        function askredir(ip, port, proto) {
            if(confirm("Are you sure you want to delete this mapping?")) {
                window.location = '/delete-mapping?ip=' + ip + "&port=" + port + "&proto=" + proto;
            }
        }
    </script>

    <div class="col-md-10 col-md-offset-1">

        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            <div class="row">
              <div class="col col-xs-6">
                <h2>Current NAT-PMP mappings</h2>
              </div>
              <div class="col col-xs-6 text-right">
                  <button type="button" id="button-settings" class="btn btn-sm btn-primary btn-create"
                  onclick="window.location='/edit-settings'">
                      Edit settings
                  </button>
                  <button type="button" id="button-create" class="btn btn-sm btn-primary btn-create"
                  onclick="window.location='/create-mapping'">
                      Create mapping
                  </button>
                </div>
            </div>
          </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissable">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>{{ message }}</strong>
                </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

          <div class="panel-body">
            <table data-toggle="table" class="table table-striped table-bordered table-list" data-sort-name="expiration" data-sort-order="asc">
              <thead>
                <tr>
                    <th data-field="public-ip" data-sortable="true">Public IP</th>
                    <th data-field="public-port" data-sortable="true">Public port</th>
                    <th data-field="client" data-sortable="true">Client</th>
                    <th data-field="private-port" data-sortable="true">Private port</th>
                    <th data-field="port" data-sortable="true">Protocol</th>
                    <th data-field="expiration" data-sortable="true">Expires at</th>
                    <th>Delete</th>
                </tr>
              </thead>
                <tbody>
                  {% for mapping in mappings %}
                  <tr>
                    <td>{{ mapping.ip }}</td>
                    <td>{{ mapping.public_port }}</td>
                    <td>{{ mapping.client }}</td>
                    <td>{{ mapping.internal_port }}</td>
                    <td>{{ mapping.proto }}</td>
                    <td>{{ mapping.expiration_date }}</td>
                    <td><button type="button" class="btn btn-sm btn-primary btn-danger"
                    onclick="askredir('{{mapping.ip|urlencode}}', {{mapping.public_port}}, '{{mapping.proto}}')">
                        Delete
                    </button></td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>

        </div>
    </div>
{% endblock %}